@use "../_mixins";

.footer-navigation {
	float: right;
	padding: 2em 0;
}

.footer-navigation-toggle {
	display: none;
}

.footer-navigation-menu {
	display: block;
	margin: 0;
	list-style-position: outside;
	list-style-type: none;
}

.footer-navigation-menu li {
	float: left;
}

.site-footer .footer-navigation-menu a {
	display: block;
	padding: 0.7em 1em;
	text-decoration: none;
	@include mixins.font-size(14);
	@include mixins.font-family(--navi-font);
	@include mixins.font-weight(--navi-font-weight);
	@include mixins.text-transform(--navi-text-transform);
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.site-footer .footer-navigation-menu a:link,
.site-footer.footer-navigation-menu a:visited {
	border-bottom: none;
}

@media only screen and (max-width: 60em) {
	.footer-navigation {
		float: none;
		text-align: center;
		padding-bottom: 0;
	}

	.footer-navigation-menu li {
		float: none;
		display: inline-block;
	}
}

@media only screen and (max-width: 40em) {
	.footer-navigation-menu li,
	.footer-navigation-menu a {
		display: block;
	}

	.footer-navigation-menu a {
		padding: 0.4em 0;
	}
}
