.footer-widgets-background {
	padding: 2em 0 0;
	@include background(--footer-widgets-background-color);
}

.footer-widgets {
	margin-right: -2em;
}

.footer-widget-column {
	float: left;
	box-sizing: border-box;
	padding-right: 2em;
	width: 25%;
}

.footer-widgets .widget {
	border: none;
	background: none;
	box-shadow: none;
	@include color(--footer-widgets-text-color);
}

.footer-widgets .widget-title {
	@include color(--footer-widgets-text-color);
}

.footer-widgets .widget a:link,
.footer-widgets .widget a:visited {
	@include color(--footer-widgets-link-color);
}

.footer-widgets .widget a:hover,
.footer-widgets .widget a:active {
	@include color(--footer-widgets-link-hover-color);
}

/* Custom Footer Widgets */
.footer-widgets .entry-meta,
.footer-widgets .tzwb-social-icons .social-icons-menu li a,
.footer-widgets .widget_tag_cloud .tagcloud a {
	@include color(--footer-widgets-text-color);
}

.footer-widgets .widget_tag_cloud .tagcloud a,
.footer-widgets .tzwb-tabbed-content .tzwb-tabnavi li a,
.footer-widgets .tzwb-social-icons .social-icons-menu li a:hover {
	@include background(--button-hover-color);
	@include color(--button-hover-text-color);
}

.footer-widgets .widget_tag_cloud .tagcloud a:hover,
.footer-widgets .widget_tag_cloud .tagcloud a:active,
.footer-widgets .tzwb-tabbed-content .tzwb-tabnavi li a:hover,
.footer-widgets .tzwb-tabbed-content .tzwb-tabnavi li a:active,
.footer-widgets .tzwb-tabbed-content .tzwb-tabnavi li a.current-tab {
	@include background(--button-color);
	@include color(--button-text-color);
}

@media only screen and (max-width: 80em) {
	.footer-widgets-background {
		padding: 1.5em 0 0;
	}

	.footer-widgets {
		margin-right: -1.5em;
	}

	.footer-widget-column {
		padding-right: 1.5em;
	}
}

@media only screen and (max-width: 65em) {
	.footer-widget-column {
		width: 50%;
	}

	.footer-widget-column:nth-child(3) {
		clear: left;
	}
}

@media only screen and (max-width: 35em) {
	.footer-widgets {
		margin-right: 0;
	}

	.footer-widget-column {
		float: none;
		padding-right: 0;
		width: 100%;
	}
}
