@use "../_mixins";

.header-bar-wrap {
	@include mixins.background(--header-bar-background-color);
	@include mixins.color(--header-bar-text-color);
}

.header-bar {
	display: flex;
	flex-wrap: wrap;
}

/* Social Icons */
.header-bar .social-icons-navigation {
	order: 2;
	margin-left: auto;
}

/* Secondary Navigation */
.secondary-navigation {
	position: relative;
	width: 100%;
	order: 3;
}

/* Hide the menu on small screens when JavaScript is available. */
.top-navigation ul,
.top-navigation .menu-item-has-children > a > .icon,
.top-navigation ul a > .icon {
	display: none;
}

.top-navigation.toggled-on > ul.menu {
	display: block;
}

/* Main Navigation Toggle */
.secondary-menu-toggle {
	display: flex;
	margin: 0;
	padding: 0.7em 1.2em;
	border: none;
	background: none;
	@include mixins.color(--header-bar-text-color);
	text-decoration: none;
	@include mixins.font-size(13);
	@include mixins.font-family(--navi-font);
	@include mixins.font-weight(--navi-font-weight);
	@include mixins.text-transform(--navi-text-transform);
	text-align: left;
	align-items: center;
}

.secondary-menu-toggle .menu-toggle-text {
	margin-left: 0.75em;
}

.secondary-menu-toggle:focus {
	outline: thin dotted;
	@include mixins.color(--header-bar-text-color);
	background: none;
}

.secondary-menu-toggle:hover,
.secondary-menu-toggle:active {
	@include mixins.background(--header-bar-bg-hover-color);
	cursor: pointer;
}

.secondary-menu-toggle .icon {
	margin: 0;
	width: 18px;
	height: 18px;
	vertical-align: top;
	@include mixins.fill(--header-bar-text-color);
}

.secondary-menu-toggle[aria-expanded="true"] .icon-menu,
.secondary-menu-toggle[aria-expanded="false"] .icon-close {
	display: none;
}

.secondary-menu-toggle[aria-expanded="true"] .icon-close {
	display: inline-block;
}

/* Menu Items Styling */
.top-navigation ul {
	margin: 0;
	padding: 0;
	@include mixins.color(--header-bar-text-color);
	list-style: none;
	@include mixins.font-size(13);
	@include mixins.font-family(--navi-font);
	@include mixins.font-weight(--navi-font-weight);
	@include mixins.text-transform(--navi-text-transform);
}

.top-navigation > ul {
	border-top: 4px solid;
	@include mixins.border-color(--header-bar-border-color);
}

.top-navigation ul li {
	position: relative;
	margin: 0;
}

.top-navigation ul a {
	display: block;
	margin: 0;
	padding: 1em 1.25em;
	border-bottom: 1px dotted;
	@include mixins.border-color(--header-bar-border-color);
	text-decoration: none;
}

.top-navigation ul a,
.top-navigation ul a:link,
.top-navigation ul a:visited {
	@include mixins.color(--header-bar-text-color);
	text-decoration: none;
}

.top-navigation ul a:hover,
.top-navigation ul a:active,
.top-navigation ul a:focus {
	@include mixins.background(--header-bar-bg-hover-color);
}

.top-navigation ul li.current-menu-item > a {
	text-decoration: underline;
}

/* Submenus */
.is-amp-page .top-navigation ul button.toggled-on + ul,
.top-navigation ul ul.toggled-on {
	display: block;
}

.top-navigation ul ul a {
	padding-left: 2em;
}

.top-navigation ul ul ul a {
	padding-left: 3.5em;
}

.top-navigation ul ul ul ul a {
	padding-left: 5em;
}

/* Submenu Dropdown Toggles */
.top-navigation .dropdown-toggle {
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	padding: 0.6em 1.2em;
	background: none;
	border: none;
}

.top-navigation .dropdown-toggle:focus {
	outline: thin dotted;
	background: none;
}

.top-navigation .dropdown-toggle:hover,
.top-navigation .dropdown-toggle:active {
	@include mixins.background(--header-bar-bg-hover-color);
}

.top-navigation .dropdown-toggle .icon {
	margin: 0.3em 0 0;
	width: 16px;
	height: 16px;
	vertical-align: top;
	@include mixins.fill(--header-bar-text-color);
}

.top-navigation .dropdown-toggle.toggled-on .icon {
	-ms-transform: rotate(-180deg); /* IE 9 */
	-webkit-transform: rotate(-180deg); /* Chrome, Safari, Opera */
	transform: rotate(-180deg);
}

@media only screen and (min-width: 60em) {
	.secondary-menu-toggle,
	.top-navigation .dropdown-toggle {
		display: none;
	}

	.top-navigation ul,
	.top-navigation ul ul {
		display: block;
	}

	.secondary-navigation {
		display: flex;
		width: auto;
		align-items: center;
		order: 1;
	}

	#header-bar .top-navigation > ul.menu {
		display: flex;
		flex-flow: row wrap;
		margin: 0;
		margin-left: -1.2em;
		border-bottom: none;
	}

	.top-navigation > ul,
	.top-navigation > ul > li > a {
		border: none;
	}

	.top-navigation > ul > li > a {
		padding: 0.7em 1.2em;
	}

	/* Dropdown Menus */
	.top-navigation ul ul {
		position: absolute;
		left: -999em;
		top: 100%;
		z-index: 99999;
		border-top: 4px solid;
		@include mixins.border-color(--header-bar-border-color);
		@include mixins.background(--header-bar-background-color);
	}

	.top-navigation ul li:hover > ul,
	.top-navigation ul li.focus > ul {
		right: auto;
		left: 0;
	}

	.top-navigation ul ul li a {
		width: 16rem;
	}

	.top-navigation ul ul ul {
		left: -999em;
		margin-top: -4px;
		top: 0;
	}

	.top-navigation ul ul li:hover > ul,
	.top-navigation ul ul li.focus > ul {
		right: auto;
		left: 100%;
	}

	.top-navigation ul ul li a,
	.top-navigation ul ul ul li a,
	.top-navigation ul ul ul ul li a {
		padding: 0.8em 1em;
	}

	/* Dropdown Icons */
	.top-navigation .menu-item-has-children > a > .icon {
		position: relative;
		display: inline-block;
		left: 0.3rem;
		top: 0.05rem;
		width: 10px;
		height: 10px;
		@include mixins.fill(--header-bar-text-color);
	}

	.top-navigation ul ul .menu-item-has-children > a > .icon {
		position: absolute;
		left: auto;
		right: 1em;
		top: 50%;
		margin-top: -0.3rem;
		-webkit-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}

	.top-navigation ul .menu-item-has-children > a:hover > .icon {
		@include mixins.fill(--header-bar-text-hover-color);
	}
}
