@use "../_mixins";

.header-search .header-search-icon {
	position: absolute;
	right: 1.5rem;
	display: inline-block;
	padding: 0.6em 0.75em 0.9em;
	@include mixins.color(--navi-color);
	background: none;
	z-index: 99;
}

.header-search .header-search-icon:hover,
.header-search .header-search-icon:active {
	cursor: pointer;
	@include mixins.color(--navi-hover-text-color);
	@include mixins.background(--navi-hover-color);
}

.header-search .header-search-icon:focus {
	outline: none;
}

.header-search .header-search-icon .icon-search {
	display: block;
	margin: 0.5rem 0 0;
	padding: 0;
	width: 20px;
	height: 20px;
	fill: currentColor;
}

.header-search .header-search-form {
	position: absolute;
	top: 3.45em;
	right: 2rem;
	display: none;
	margin: 0;
	padding: 1em;
	@include mixins.background(--page-background-color);
	box-shadow: 0 2px 2px #aaa;
	z-index: 999;
}

.header-search .header-search-form.toggled-on {
	display: block;
}

.header-search .header-search-form .search-form {
	min-width: 300px;
}

@media only screen and (max-width: 80em) {
	.header-search .header-search-icon {
		right: 1rem;
	}

	.header-search .header-search-form {
		right: 1.5rem;
	}
}

@media only screen and (max-width: 60em) {
	.header-search .header-search-form {
		width: 100%;
		top: 3.25em;
		right: 0;
	}

	.header-search .header-search-form .search-form {
		min-width: auto;
	}
}
