@use "../_mixins";

.scroll-to-top-button {
	z-index: 9999;
	width: 40px;
	height: 40px;
	display: inline;
	position: fixed;
	cursor: pointer;
	margin: 0 auto;
	padding: 0;
	right: 0.75em;
	bottom: 0.75em;
	@include mixins.background(--button-color);
	@include mixins.color(--button-text-color);
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

.scroll-to-top-button.visible {
	opacity: 1;
}

.scroll-to-top-button:focus,
.scroll-to-top-button:active {
	@include mixins.background(--button-color);
	@include mixins.color(--button-text-color);
}

.scroll-to-top-button:hover {
	@include mixins.background(--button-hover-color);
	@include mixins.color(--button-hover-text-color);
}

.scroll-to-top-button .icon {
	margin: 0.25rem 0 0;
	width: 20px;
	height: 20px;
	vertical-align: top;
	fill: currentColor;
}
