.before-header-widget-area,
.after-header-widget-area,
.before-footer-widget-area {
	margin: 0 auto;
	max-width: 1320px;
}

.before-header-widget-area,
.after-header-widget-area {
	padding: 2rem 2rem 0;
}

.before-footer-widget-area {
	padding: 0 2rem;
}

.after-header-widget-area {
	.widget:last-child {
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 80em) {
	.before-header-widget-area,
	.after-header-widget-area {
		padding: 1.5rem 1.5rem 0;
	}

	.before-footer-widget-area {
		padding: 0 1.5rem;
	}
}
